.login-container-main {
    padding: 7% 20% !important;
    text-align: center;
}

.login-container-home {
    text-align: left;
}

.login-form {
    margin-top: 2em !important;
}

.login-header {
    margin-top: 0.5em !important;
}

.login-submit {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    color: white !important;
    -webkit-box-shadow: 5px 5px 26px -11px rgba(0,0,0,0.71); 
    box-shadow: 5px 5px 26px -11px rgba(0,0,0,0.71);
}

.login-disabled {
    background-color: rgb(231, 231, 231) !important;

    color: rgb(109, 109, 109) !important;
}

.login-text {
    margin-top: 3em;
    color: gray;
}
