.navbar {
    background-color: white !important;
    padding: 0 30px;
    color: black !important;
    box-shadow: none !important;
}

.navbar-logo {
    width: 250px;
    padding: 20px;
    margin: auto;
}